{% extends 'base.html.twig' %}

{% block body %}

    <h1>Reservez votre billet</h1>

    {{ form_start(formBillet) }}

    <div class="form-group">
      <label for="type">Type</label>
        {{ form_widget(formBillet.type) }}
    </div>

    <div class="form-group">
      
        {{ form_widget(formBillet.fullday) }}

    </div>

    {{ form_end(formBillet) }}

{% endblock %}