{% extends 'base.html.twig' %}

{% block body %}

<div class="success">
    <div class="container">
        <div class="presentation">
            <h2>Votre commande est validée avec succès, vous devriez recevoir d'ici peu un mail de confirmation contenant le(s) billet(s)</h1>
        </div>
    </div>
</div>

{% endblock %}